.container {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
}

.item-1 {
    text-align: center;
    color: black;
    font-weight: 850;
}

.item-2 {
    text-align: center;
    color: black;
    font-weight: 850;
}

.item-3 {
    text-align: center;
    color: black;
    font-weight: 850;
}